* {
  box-sizing: border-box;
}

body {
  background-color: rgb(11, 11, 11);
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 10px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  /*background: rgba(0, 0, 0, 0.505);*/
  background: black;
}

a {
  color: white;
}

.content {
  display: flex;
  align-items: center;
}

.content h1 {
  color: red;
  font-size: 36px;
  font-weight: bold;
  margin-right: 20px;
}
.content a {
  text-decoration: none;
  margin-right: 5px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.spotligth {
  position: relative;
}

.spotligth img {
  width: 100%;
  filter: brightness(80%);
}

.info-spotligth {
  position: absolute;
  top: 100px;
  left: 40px;
  color: white;
}

.info-spotligth h3 {
  font-size: 32px;
  margin-bottom: 5px;
}

.info-spotligth h3 span {
  color: red;
  font-weight: bold;
}

.info-spotligth h2 {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 15px;
}

.info-spotligth h4 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.info-spotligth p {
  font-size: 18px;
  margin-bottom: 5px;
  width: 400px;
}

.info-spotligth button {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.play {
  color: black;
  background-color: white;
}

.more-infos {
  background-color: rgb(56, 56, 56);
  color: white;
}

.more-infos span {
  font-size: 11px;
}

section {
  margin-left: 15px;
  margin-bottom: 25px;
}

section h2 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: bold;
  color: rgb(157, 157, 157);
}

section div {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
section article {
  margin-right: 10px;
}
